<style>
.spacer{
	height: 80px;
}
.spacer2{
	height: 30px;
}
</style>

<div class="wrapper">
	<div id="careers" class="container">
		<div class="content">
			<div class="title">
				<h2>HCJI Careers</h2>
			</div>
			<p><img src="assets/careers1.jpg" alt="" width="400px"/>HCJI Careers is a 4-day series of events held before and during the annual Boston Career Forum (BCF) that serve as an opportunity for Harvard students and students who have been involved in Harvard programs in the past, to interact and network with companies in a more personal and casual environment.</p>
			<p>We provide opportunities for recruiters and students to interact even before BCF begins so that students may network with representatives from various Japanese companies, and companies may do so likewise to their mutual benefit. In 2014, we held four formal information sessions and multiple social events between students and company representatives on Harvard’s campus. A total of 9 companies were represented.</p>
			<p>We also provide housing for non-Harvard students during BCF by connecting them with Harvard students who are willing to host in their dormitories.</p>
			<div class="spacer"></div>
		
			<h2>Schedule 2015</h2>
			<div id="portfolio" class="container">
				<p style="text-align: center">
				<b>November 19th: HCJI Careers Welcome Session</b><br>
				Welcome to Harvard! Introductions, Ice-breakers<br>
				Time: 14:00 - 15:00<br>
				Location: TBA<br><br>

				<b>November 19th: Info Session</b><br>
				Presentations by Companies<br>
				Time: 15:00 - 17:00<br>
				Location: TBA<br><br>

				<b>November 19th: Networking Session</b><br>
				Meet and Greet Fellow Students and Recruiters (Dinner Provided)<br>
				Time: 17:00 - 19:00<br>
				Location: TBA<br><br>

				<b>November 20th: Coffee Chats</b><br>
				Reflecting on Day One<br>
				Time: 20:00 - 22:00<br>
				Location: TBA<br><br>

				<b>November 21st: HCJI Careers Mixer</b><br>
				Time: 22:00 -<br>
				Location: TBA<br><br>

				<b>November 22nd: Thank you and Farewell Dinner</b><br>
				Time: 18:00 - <br>
				Location: TBA<br>
				</p>
				<div class="spacer2"></div>
			</div>
			<h2>How to Join (Students)</h2>
			<div id="portfolio" class="container">
				<p>
					<b>Requirements</b><br>
					The applicant must be an undergraduate student planning to participate in Boston Career Forum from November 20th - 22nd, 2015.<br>
					The applicant must be able to arrive on Harvard's campus before 14:00, November 19th.<br>
					Preference will be granted to those who have participated in at least one of the following (HLAB, HPAIR, HCAP, RyuFellow, KSS, PII and other related programs).<br><br>

					<b>Housing</b><br>
					Please note that housing is limited; if the number of applications exceeds 30, we will conduct screening based upon the competitiveness of the applicant's resume and other additional information we receive.<br>
					People who do not receive housing are still welcome to participate in our events.<br><br>

					<b>Deadlines</b><br>
					Early Application Deadline: 23:59 September 7th, 2015 (EDT)<br>
					Regular Application Deadline: 23:59 September 25th, 2015 (EDT)<br><br>

					<b>Application</b><br>
					Please fill out the application <a href="" target="_blank">here</a><br><br>

				</p>
				<div class="spacer2"></div>
			</div>
			<h2>How to Join (Companies)</h2>
			<div id="portfolio" class="container">
				<p>Please email hcji.comm@gmail.com for more information.</p>
				<div class="spacer"></div>
			</div>
			<h2>Supporters</h2>
			<div id="portfolio" class="container"> 
				<h3>Coming Soon</h3>
				<div class="column1">
					<!-- <div class="box">
						<a href="" target="_blank"><img class="image" src="assets/.jpg" alt="" /></a>
					  	<h3>...</h3>
						<p>...</p>
				    </div> -->
				</div> 
				<!-- <div class="column1">
					<div class="box">
						<img class="image" src="assets/isa.jpg" alt="" height="80px"/>
					  	<h3>ISA</h3>
						<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
				    </div>
				</div>  -->
			</div>
		</div>
	</div>
</div>

