<div class="wrapper">
	<div id="careers" class="container">
		<div class="content">
			<div class="title">
				<h2>HCJI Careers</h2>
			</div>
			<p><img src="assets/careers1.jpg" alt="" width="400px"/>HCJI Careers is a 4-day series of events held before and during the annual Boston Career Forum (BCF) that serve as an opportunity for Harvard students and students who have been involved in Harvard programs in the past, to interact and network with companies in a more personal and casual environment.</p>
			<p>We provide opportunities for recruiters and students to interact even before BCF begins so that students may network with representatives from various Japanese companies, and companies may do so likewise to their mutual benefit. In 2014, we held four formal information sessions and multiple social events between students and company representatives on Harvard’s campus. A total of 9 companies were represented.</p>
			<p>We also provide housing for non-Harvard students during BCF by connecting them with Harvard students who are willing to host in their dormitories.</p>
			<div class="spacer" style="height: 80px"></div>
		
			<h2>Schedule 2015</h2>
			<div id="portfolio" class="container">
			</div>
			<h2>How to Join (Students)</h2>
			<div id="portfolio" class="container">
				Requirements
				<ul>
					<li>You must be an undergraduate student planning to participate in Boston Career Forum from November 20th - 22nd, 2015</li>
					<li>You must have participated in at least one of the following (HLAB, HPAIR, HCAP, RyuFellow, KSS, PII, GAKKO)</li>
					<li>You must be able to arrive on campus before 13:00, November 19th</li>
				</ul>
			</div>
			<h2>How to Join (Companies)</h2>
			<div id="portfolio" class="container">
			</div>
			<h2>Supporters</h2>
			<div id="portfolio" class="container"> 
				<div class="column1">
					<!-- <div class="box">
						<a href="" target="_blank"><img class="image" src="assets/.jpg" alt="" /></a>
					  	<h3>...</h3>
						<p>...</p>
				    </div> -->
				</div> 
				<!-- <div class="column1">
					<div class="box">
						<img class="image" src="assets/isa.jpg" alt="" height="80px"/>
					  	<h3>ISA</h3>
						<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
				    </div>
				</div>  -->
			</div>
		</div>
	</div>
</div>

