<div id="footer">
	<div class="container">
		<div class="fbox">
			<span class="icon icon-envelope"></span>
			<h3>contact us:</h3>
			<p>hcjicomm@gmail.com</p>
			<p>   </p>
			<h3>join our Harvard mailing list:</h3>
			<p>sushi-talk@lists.hcs.harvard.edu</p>
		</div>
	</div>
</div>