<style>
.spacer{
	height: 80px;
}
.spacer2{
	height: 30px;
}
</style>

<div class="wrapper">
	<div id="careers" class="container">
		<div class="content">
			<div class="title">
				<h2>HCJI Explore</h2>
			</div>
			<p><img src="assets/careers1.jpg" alt="" width="400px"/>HCJI Explore welcomes high school students from all over Japan to "explore" the life at Harvard. We provide them with unforgettable experiences through our on-campus tours, presentations and workshops. All of these programs are created and coordinated by HCJI members and other Harvard student volunteers.</p>
			<p>We offer high schools interested in a more global curriculum a unique opportunity to incorporate on-the-ground experiences at Harvard into their programs. Most programs will be modified as we move towards the actual visit in order to fulfill the needs of individual schools.</p>

			<div class="spacer"></div>

			<h2>For teachers interested...</h2>
			<h3>Things we can offer</h3>
			<ul>
				<li>A student coordinator who will be responsible for making your program at Harvard as educational and unique as possible</li>
				<li>Classrooms inside Harvard campus to hold our programs</li>
				<li>10% discount at the Harvard COOP (a souvenior shop)</li>
				<li>Unforgettable inspiration to the participants ;) </li>
			</ul>
			<p>Please read the following basic guideline below. If this seems like a fit for your school, contact us at hcjicomm@gmail.com to talk about your plan in detail.</p>
			<h3>Basic Guidelines</h3>
			<h4>About the logistics</h4>
			<ul>
				<li>Programs will take place inside Harvard Campus. All the facillities used during the program will be booked by HCJI.</li>
				<li>We ask most programs to be at most a day long.</li>
				<li>We do not provide any housing or meals. For meals, however, we can take the students to nearby restaurants in Harvard Square.</li>
				<li>We will not be responsible for any injuries/accidents happen during the program.</li>
			</ul>
			<h4>About the fee</h4>
		    <ul>
		    	<li>HCJI receives 20% commission from per-student-hour fee. For example, if School A pays HCJI $50 for having a Harvard student to be at the event for an hour, HCJI would receive $10, and the rest ($40) would go to the Harvard student.</li>
				<li>For any event, there should be a HCJI chaperone to make sure things are going well, especially for on campus events because we would be renting the rooms under the name of HCJI.</li>
					<ul>
						<li>The chaperoning fee on campus is $40/hr</li>
						<li>The chaperoning fee off campus is $35/hr</li>
					</ul>
			</ul>
			<h4>For the service fee</h4>
			<ul>
				<li>If the event is off-campus, there is no service fee</li>
				<li>If the events is on-campus, there would be service fee, which would be determined by how much work we need to do to host the event (such as booking rooms, etc.)</li>
				<li>If the length of a program exceeds a certain time period (e.g. 5 days), there should be an extra charge. One idea is to include it in the service fee.</li>
			</ul>
			<h4>Regarding deposit</h4>
			<ul>
				<li>Normal situation<li>
					<ul>
						<li>§  The deposit would be 50% of the total fee.</li>
						<li>§  The deposit should be paid 2 weeks before the first day of the program.</li>
					</ul>
				<li>Cancellation fee</li>
					<ul>
						<li>§  If the request to cancel a program comes 2 weeks before the first day of the program, there would be no cancelation fee.</li>
						<li>§  If the request to cancel a program comes within 2 weeks before the first day of the program, we will take half of the deposit.</li>
					</ul>
				<li>Fee for Changing the Content of the Contract</li>
					<ul>
						<li>§  In the case where the contract is signed by both sides, when the educational institution requests to change certain contents of the contract, a contract-changing fee of $100 will be added to the total cost.</li>
					</ul>
				<li>For on-campus room-booking that is done very early in advance (2 months in advance), we will charge a room-holding fee of $100, nonrefundable (not part of the deposit).</li>
			</ul>
			<h2>For students interested...</h2>
			<p>Please read the following basic guideline below. If this seems like a fit for you, join our HCJI Explore mailing list hcjiexplore@googlegroups.com</p>
			<h3>Basic Guidelines</h3>
			<ul>
				<li>You can either become a PA (project assistant) or a PM (project manager)
 of the program.</li>
				<li>PAs will come in on the day of the program to facilitate workshops and conduct campus tours. They will be responsible for ending the day with a success - enough inspiration for high school students. We ensure minimum time commitment before and after the program.
PMs will be responsible for the entire program, e.g finalizing the content, booking rooms,  e-mailing with the client, etc. HCJI will support you with each phase, and by the time you complete a program, you'll be able to have a clear understanding of how to push a program forward with Japanese clients.
Note that proficiency in Japanese is not required.</li>
			</ul>

			<div id="portfolio" class="container">
			</div>
		</div>
	</div>
</div>
