
<div class="wrapper">
	<div id="banner" class="container"><img src="/assets/h-lab.png" width="1200" height="500" alt="" /></div>
	<div id="welcome" class="container">
    	
	<div class="title">
		<h2>We are Harvard College Japan Initiative</h2><br><br>
	 	<p>HCJI is a student-run organization dedicated to fostering greater interaction and understanding between students from the U.S. and Japan.</p>
	 	<a href="whoweare" class="button">Learn more about us</a>
	</div>
		
	</div>
	<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
<!-- 		<div class="tbox">
			<div class="title">
				<h2>H-LAB</h2>
			</div>
			<img class="image" src="assets/masa.jpg" alt="" />
			<p>TODO Nga/ Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum.</p>
			<a href="static_pages/whatwedo#h-lab" class="button">Learn More</a> 		
		</div> -->
		<div class="tbox">
			<div class="title">
				<h2>HCJI Career Forum</h2>
			</div>
			<img class="image" src="assets/careers1.jpg" alt="" />
			<p>HCJI Career Forum is a 4-day series of events held before and during the annual Boston Career Forum (BCF) that serve as an opportunity for Harvard students and students who have been involved in Harvard programs in the past, to interact and network with companies in a more personal and casual environment.</p>
			<a href="careers" class="button">Learn More</a> </div>
		<div class="tbox">
			<div class="title">
				<h2>HCJI Explore</h2>
			</div>
			<img class="image" src="assets/campus1.jpg" alt="" />
			<p>HCJI Explore welcomes junior and senior high school students from all over Japan to "explore" the life at Harvard. We provide them with unique opportunities through our on-campus tours, presentations and workshops. All of these programs are created and coordinated by HCJI members and other Harvard students.</p>
			<a href="whatwedo#explore" class="button">Learn More</a> </div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<div class="fbox">
			<span class="icon icon-envelope"></span>
			<h3>contact us:</h3>
			<p>hcjicomm@gmail.com</p>
			<p>   </p>
			<h3>join our Harvard mailing list:</h3>
			<p>sushi-talk@lists.hcs.harvard.edu</p>
		</div>
	</div>
</div>