
<div class="wrapper">
	<div id="banner" class="container"><img src="/assets/h-lab.png" width="1200" height="500" alt="" /></div>
	<div id="welcome" class="container">
    	
	<div class="title">
	 	<h2>TODO Masa</h2>
	</div>
		<p> TODO Masa</p>
	</div>
	<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
		<div class="tbox">
			<div class="title">
				<h2>H-LAB</h2>
			</div>
			<img class="image" src="assets/masa.jpg" alt="" />
			<p>TODO Nga/ Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum.</p>
			<a href="static_pages/whatwedo#h-lab" class="button">Learn More</a> </div>
		<div class="tbox">
			<div class="title">
				<h2>Harvard Career Forum</h2>
			</div>
			<img class="image" src="assets/masa.jpg" alt="" />
			<p>TODO Masa/ Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper suscipit eleifend. Donec mattis libero eget urna. Duis  velit ac mauris.</p>

			<a href="static_pages/whatwedo#hcf" class="button">Learn More</a> </div>
		<div class="tbox">
			<div class="title">
				<h2>HCJI Explore</h2>
			</div>
			<img class="image" src="assets/masa.jpg" alt="" />
			<p>TODO Kojin/ Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem suscipit  eleifend.</p>
			<a href="static_pages/whatwedo#explore" class="button">Learn More</a> </div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<div class="fbox">
			<span class="icon icon-envelope"></span>
			<h3>contact us:</h3>
			<p>hcjicomm@gmail.com</p>
			<p>   </p>
			<h3>join our Harvard mailing list:</h3>
			<p>sushi-talk@lists.hcs.harvard.edu</p>
		</div>
	</div>
</div>