<div class="wrapper">
	<div id="whoweare" class="container">
		<div class="content">
			<div class="title">
				<h2>We run numerous activities on and off campus</h2>
			</div>
			<p>HCJI serves as a platform for people who are interested in participating in Japan-related activities. We are committed to fostering cultural exchange through students' active participation in various business-related, pre-professiona and educational activities.</p>
			<img src="assets/matsuri.jpg" alt="" />
		</div>
	</div>	

	<div id="three-contents" class="container">
		<div><span class="arrow-down"></span></div>

		<!-- 		content1 -->

<!-- 		<div name="h-lab" class="content">
			<div class="title">
				<h2>H-LAB</h2>
			</div>
			<img class="image" src="assets/masa.jpg" alt="" />
			<div class="paragraphs">
				<p>TODO Nga/ Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum.</p>
				<p>For high school students and those generally interested...</p>
				<a href="http://tokyo.h-lab.co/" class="button">Official Website (Japanese)</a>
				<p>For Harvard and non Harvard college students interested in applying...<p>
				<a href="http://teach.h-lab.co/" class="button">Official Website for Potential Teachers (English)</a>
			</div>
		</div>
		 -->

		<!-- 		content2 -->

		<div id="hcf" class="content">
			<div class="title">
				<h2>HCJI Career Forum</h2>
			</div>
			<p><img class="image" src="assets/careers1.jpg" alt="" height="100px"/>HCJI Career Forum is a 4-day series of events held before and during the annual Boston Career Forum (BCF) that serve as an opportunity for Harvard students and students who have been involved in Harvard programs in the past, to interact and network with companies in a more personal and casual environment.</p>
			<p>We provide opportunities for recruiters and students to interact even before BCF begins so that students may network with representatives from various Japanese companies, and companies may do so likewise to their mutual benefit. In 2014, we held four formal information sessions and multiple social events between students and company representatives on Harvard’s campus. A total of 9 companies were represented.</p>
			<p>We also provide housing for non-Harvard students during BCF by connecting them with Harvard students who are willing to host in their dormitories.</p>
			<a href="careers" class="button">More Information</a>
		</div>
		
		<!-- 		content3 -->

		<div name="explore" class="content">
			<div class="title">
				<h2>HCJI Explore</h2>
			</div>
			<p><img class="image" src="assets/campus1.jpg" alt="" />HCJI Explore welcomes junior and senior high school students from all over Japan to "explore" the life at Harvard. We provide them with unique opportunities through our on-campus tours, presentations and workshops. All of these programs are created and coordinated by HCJI members and other Harvard students.</p>
			<p>For high school teachers interested in the program...</p>
			<a href="" class="button">More Info Coming Soon</a>
			<p>For Harvard students interested in becoming a volunteer...</p>
			<a href="" class="button">More Info Coming Soon</a>
		</div>

	</div>
</div>
