<div class="wrapper">
	<div id="whoweare" class="container">
		<div class="content">
			<div class="title">
				<h2>We do various activities.</h2>
			</div>
			<p>TODO Masa/ Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum.</p>
			<img src="assets/masa.jpg" alt="" />
		</div>
	</div>	

	<div id="three-contents" class="container">
		<div><span class="arrow-down"></span></div>

		<!-- 		content1 -->

		<div name="h-lab" class="content">
			<div class="title">
				<h2>H-LAB</h2>
			</div>
			<img class="image" src="assets/masa.jpg" alt="" />
			<div class="paragraphs">
				<p>TODO Nga/ Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum.</p>
				<p>For high school students and those generally interested...</p>
				<a href="http://tokyo.h-lab.co/" class="button">Official Website (Japanese)</a>
				<p>For Harvard and non Harvard college students interested in applying...<p>
				<a href="http://teach.h-lab.co/" class="button">Official Website for Potential Teachers (English)</a>
			</div>

		</div>
		

		<!-- 		content2 -->

		<div name="hcf" class="content">
			<div class="title">
				<h2>Harvard Career Forum</h2>
			</div>
			<p><img class="image" src="assets/masa.jpg" alt="" />TODO Masa/ Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper suscipit eleifend. Donec mattis libero eget urna. Duis  velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper suscipit eleifend. Donec mattis libero eget urna. Duis  velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper suscipit eleifend. Donec mattis libero eget urna. Duis  velit ac mauris. </p>
			<p>For high school students considering to be a participant...</p>
			<p>For Harvard students interested in taking part...<p>
		</div>
		
		<!-- 		content3 -->

		<div name="explore" class="content">
			<div class="title">
				<h2>HCJI Explore</h2>
			</div>
			<p><img class="image" src="assets/masa.jpg" alt="" />TODO Kojin/ Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem suscipit  eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem suscipit  eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem suscipit  eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem suscipit  eleifend.</p>
			<p>For high school teachers interested in the program...</p>
			<p>For Harvard students interested in becoming a volunteer...</p>
		</div>

	</div>
</div>
