<div class="wrapper">
	<div id="whoweare" class="container">
		<div class="content">
			<div class="title">
				<h2>We are a bridge between Harvard and Japan.</h2>
			</div>
			<p>Harvard College Japan Initiative is a student-run organization dedicated to fostering greater interaction and understanding between students from the U.S. and Japan. Its mission is twofold: to encourage Japanese students to rethink the Japanese education system and explore ways to improve it, and to tackle the issue of the under-representation of Japanese students in universities outside of Japan, especially at Harvard University. Specifically, the Harvard College Japan Initiative aims to inform Japanese high school and college students about opportunities to study in the U.S., and to guide interested students through the admissions and financial aid processes. It also aims to promote the exchange of ideas and perspectives among Harvard students, between Harvard students and faculty and between Harvard and Japanese students through discussions about political and social issues surrounding U.S-Japan relations.</p>
			<img src="assets/board.jpg" alt="" width="800px"/>
		</div>
		
		<h2>Members</h2>
		<div id="portfolio" class="container"> 
			<div class="column1">
				<div class="box">
					<img src="assets/nga.jpg" alt="" />
				  	<h2>Nga Nguy</h2>
					<p>Co-President</p>
			    </div>
			</div>
			<div class="column2">
				<div class="box">
					<img src="assets/hkp.jpg" alt="" />
				  	<h2>Hao-Kai Pai</h2>
					<p>Co-President</p>
			    </div>
			</div>
			<div class="column3">
				<div class="box">
				  	<img src="assets/deriam.jpg" alt="" />
				  	<h2>Deriam Chirinos</h2>
					<p>SL Director of HLAB Obuse</p>
			    </div>
			</div>
			<div class="column4">
				<div class="box">
				  	<img src="assets/masa.jpg" alt="" />
				  	<h2>Masahiro Kusunoki</h2>
					<p>Director of HCJI Careers</p>
			    </div>
			</div>
			<div class="column1">
				<div class="box">
				  	<img src="assets/kojin.jpg" alt="" />
				  	<h2>Kojin Oshiba</h2>
					<p>Director of HCJI Explore</p>
			    </div>
			</div>
		</div>
	</div>
	<div id="whatwedo" class="container">
		<h2>Supporters</h2>
		<div id="portfolio" class="container"> 
			<div class="column1">
				<div class="box">
					<a href="http://rijs.fas.harvard.edu/" target="_blank"><img class="image" src="assets/reischauer.jpg" alt="" /></a>
				  	<h3>Reischauer Institute of Japanese Studies</h3>
					<p>supports research on Japan and provides a forum for related academic activities and the exchange of ideas.</p>
			    </div>
			</div> 
			<!-- <div class="column1">
				<div class="box">
					<img class="image" src="assets/isa.jpg" alt="" height="80px"/>
				  	<h3>ISA</h3>
					<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
			    </div>
			</div>  -->
		</div>
	</div>
</div>

