<div class="wrapper">
	<div id="whoweare" class="container">
		<div class="content">
			<div class="title">
				<h2>We are a bridge between Harvard and Japan.</h2>
			</div>
			<p>Harvard College Japan Initiative is a student-run organization dedicated to fostering greater interaction and understanding between students from the U.S. and Japan. Its mission is twofold: to connect Harvard Students with opportunities in Japan (summer camps, internships, wintersessions etc), and to introduce Japanese students to the liberal arts education in the U.S. It also aims to promote the exchange of ideas and perspectives among Harvard students, Harvard faculty and more widely, between students in the U.S and Japan, through discussions about political and social issues surrounding U.S.-Japan relations.</p>
			<img src="assets/board.jpg" alt="" width="800px"/>
		</div>
		
		<h2>Members</h2>
		<div id="portfolio" class="container"> 
			<div class="column1">
				<div class="box">
					<img src="assets/profile/masa.jpg" alt="" />
				  	<h2>Masahiro Kusunoki</h2>
					<p>Co-President</p>
			    </div>
			</div>
			<div class="column2">
				<div class="box">
					<img src="assets/profile/deriam.jpg" alt="" />
				  	<h2>Deriam Chirinos</h2>
					<p>Co-President</p>
			    </div>
			</div>
			<div class="column3">
				<div class="box">
				  	<img src="assets/profile/kojin.jpg" alt="" />
				  	<h2>Kojin Oshiba</h2>
					<p>Director of HCJI Explore</p>
			    </div>
			</div>
			<div class="column4">
				<div class="box">
				  	<img src="assets/profile/mirza.jpg" alt="" />
				  	<h2>Mirza Uddin</h2>
					<p></p>
			    </div>
			</div>
			<div class="column1">
				<div class="box">
				  	<img src="assets/profile/oscar.jpg" alt="" />
				  	<h2>Oscar A. Rudenstam</h2>
					<p></p>
			    </div>
			</div>
			<div class="column2">
				<div class="box">
					<img src="assets/profile/steve.jpg" alt="" />
				  	<h2>Steve Buschbach</h2>
					<p></p>
			    </div>
			</div>
			<div class="column3">
				<div class="box">
				  	<img src="assets/profile/tiphanie.jpg" alt="" />
				  	<h2>Tiphanie Fuentes</h2>
					<p></p>
			    </div>
			</div>
			<div class="column4">
				<div class="box">
				  	<img src="assets/profile/shane.jpg" alt="" />
				  	<h2>Shane Campayne</h2>
					<p></p>
			    </div>
			</div>
			<div class="column1">
				<div class="box">
				  	<img src="assets/profile/miranda.jpg" alt="" />
				  	<h2>Miranda Feliciano</h2>
					<p></p>
			    </div>
			</div>
		</div>

		<h2>Alumni</h2>
		<div id="portfolio" class="container">
			<div class="column3">
				<div class="box">
				  	<img src="assets/profile/stephane.jpg" alt="" />
				  	<h2>Stephane Fouche</h2>
					<p>President Emeritus</p>
			    </div>
			</div>
			<div class="column2">
				<div class="box">
				  	<img src="assets/profile/bran.jpg" alt="" />
				  	<h2>Bran Shim</h2>
					<p>President Emeritus</p>
			    </div>
			</div>
			<div class="column1">
				<div class="box">
					<img src="assets/profile/nga.jpg" alt="" />
				  	<h2>Nga Nguy</h2>
					<p>Alumni</p>
			    </div>
			</div>
			<div class="column4">
				<div class="box">
				  	<img src="assets/profile/hkp.jpg" alt="" />
				  	<h2>Hao-Kai Pai</h2>
					<p>Alumni</p>
			    </div>
			</div>
		</div>
	</div>

	<div id="whatwedo" class="container">
		<h2>Supporters</h2>
		<div id="portfolio" class="container"> 
			<div class="column1">
				<div class="box">
					<a href="http://rijs.fas.harvard.edu/" target="_blank"><img class="image" src="assets/reischauer.jpg" alt="" /></a>
				  	<h3>Reischauer Institute of Japanese Studies</h3>
					<p>supports research on Japan and provides a forum for related academic activities and the exchange of ideas.</p>
			    </div>
			</div> 
			<!-- <div class="column1">
				<div class="box">
					<img class="image" src="assets/isa.jpg" alt="" height="80px"/>
				  	<h3>ISA</h3>
					<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
			    </div>
			</div>  -->
		</div>
	</div>
</div>

